:root {
  background: #4c6352;
  --animation-speed: 800ms;
}

.loadingSpinner {
  position: absolute;
  z-index: 10;
  transform: translateY(42vh) translateX(10.04vw);

  height: 10vmin;
  width: 10vmin;
}

.scene {
  perspective: calc(var(--perspective, 1000) * 1px);
  transform-style: preserve-3d;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid transparent;

  -webkit-backface-visibility: hidden;

  /* will-change: transform; */
  --plain-height: 10;
  --plain-width: 10;
  --x-rotation: -24;
  --y-rotation: -24;
  --z-rotation: 0;
  --horizontalCentroid: 36;
  --verticalCentroid: 36;
  /*Cube 1---------------------------*/
  --color1: #261c1b;
  --color2: #f7c1bb;
  --color3: #261c1b;
  --color4: hsl(117, 23%, 60%);
  --color5: #dc136c;
  --color6: #261c1b;
  /*Cube 2---------------------------*/
  --color7: #261c1b;
  --color8: #f7c1bb;
  --color9: #261c1b;
  --color10: #261c1b;
  --color11: #dc136c;
  --color12: #261c1b;
  /*Cube 3---------------------------*/
  --color13: #261c1b;
  --color14: #f7c1bb;
  --color15: #885a5a;
  --color16: #261c1b;
  --color17: #dc136c;
  --color18: #261c1b;
  /*Cube 4---------------------------*/
  --color19: #261c1b;
  --color20: #261c1b;
  --color21: #261c1b;
  --color22: #84b082;
  --color23: #dc136c;
  --color24: #261c1b;
  /*Cube 5---------------------------*/
  --color25: #261c1b;
  --color26: #261c1b;
  --color27: #261c1b;
  --color28: #261c1b;
  --color29: #dc136c;
  --color30: #261c1b;
  /*Cube 6---------------------------*/
  --color31: #261c1b;
  --color32: #261c1b;
  --color33: #885a5a;
  --color34: #261c1b;
  --color35: #dc136c;
  --color36: #261c1b;
  /*Cube 7---------------------------*/
  --color37: #353a47;
  --color38: #261c1b;
  --color39: #261c1b;
  --color40: #84b082;
  --color41: #dc136c;
  --color42: #261c1b;
  /*Cube 8---------------------------*/
  --color43: #353a47;
  --color44: #261c1b;
  --color45: #261c1b;
  --color46: #261c1b;
  --color47: #dc136c;
  --color48: #261c1b;
  /*Cube 9---------------------------*/
  --color49: #353a47;
  --color50: #261c1b;
  --color51: #885a5a;
  --color52: #261c1b;
  --color53: #dc136c;
  --color54: #261c1b;
  /*2nd row ------------------------------------------------------------*/
  /*Cube 10---------------------------*/
  --color55: #261c1b;
  --color56: #f7c1bb;
  --color57: #261c1b;
  --color58: #84b082;
  --color59: #261c1b;
  --color60: #261c1b;
  /*Cube 11---------------------------*/
  --color61: #261c1b;
  --color62: #f7c1bb;
  --color63: #261c1b;
  --color64: #261c1b;
  --color65: #261c1b;
  --color66: #261c1b;
  /*Cube 12---------------------------*/
  --color67: #261c1b;
  --color68: #f7c1bb;
  --color69: #885a5a;
  --color70: #261c1b;
  --color71: #261c1b;
  --color72: #261c1b;
  /*Cube 13---------------------------*/
  --color73: #261c1b;
  --color74: #261c1b;
  --color75: #261c1b;
  --color76: #84b082;
  --color77: #261c1b;
  --color78: #261c1b;
  /*Cube 14---------------------------*/
  --color79: #261c1b;
  --color80: #261c1b;
  --color81: #261c1b;
  --color82: #261c1b;
  --color83: #261c1b;
  --color84: #261c1b;
  /*Cube 15---------------------------*/
  --color85: #261c1b;
  --color86: #261c1b;
  --color87: #885a5a;
  --color88: #261c1b;
  --color89: #261c1b;
  --color90: #261c1b;
  /*Cube 16---------------------------*/
  --color91: #353a47;
  --color92: #261c1b;
  --color93: #261c1b;
  --color94: #84b082;
  --color95: #261c1b;
  --color96: #261c1b;
  /*Cube 17---------------------------*/
  --color97: #353a47;
  --color98: #261c1b;
  --color99: #261c1b;
  --color100: #261c1b;
  --color101: #261c1b;
  --color102: #261c1b;
  /*Cube 18---------------------------*/
  --color103: #353a47;
  --color104: #261c1b;
  --color105: #885a5a;
  --color106: #261c1b;
  --color107: #261c1b;
  --color108: #261c1b;
  /*Bottom row ----------------------*/
  /*re-arranged these to be congruent with the cubejs model*/
  /*Cube 19---------------------------*/
  --color109: #261c1b;
  --color110: #f7c1bb;
  --color111: #261c1b;
  --color112: #84b082;
  --color113: #261c1b;
  --color114: orange;
  /*Cube 20---------------------------*/
  --color115: #261c1b;
  --color116: #f7c1bb;
  --color117: #261c1b;
  --color118: #261c1b;
  --color119: #261c1b;
  --color120: orange;
  /*Cube 21---------------------------*/
  --color121: #261c1b;
  --color122: #f7c1bb;
  --color123: #885a5a;
  --color124: #261c1b;
  --color125: #261c1b;
  --color126: orange;
  /*Cube 22---------------------------*/
  --color127: #261c1b;
  --color128: #261c1b;
  --color129: #261c1b;
  --color130: #84b082;
  --color131: #261c1b;
  --color132: orange;
  /*Cube 23---------------------------*/
  --color133: #261c1b;
  --color134: #261c1b;
  --color135: #261c1b;
  --color136: #261c1b;
  --color137: #261c1b;
  --color138: orange;
  /*Cube 24---------------------------*/
  --color139: #261c1b;
  --color140: #261c1b;
  --color141: #885a5a;
  --color142: #261c1b;
  --color143: #261c1b;
  --color144: orange;
  /*Cube 25---------------------------*/
  --color145: #353a47;
  --color146: #261c1b;
  --color147: #261c1b;
  --color148: #84b082;
  --color149: #261c1b;
  --color150: orange;
  /*Cube 26---------------------------*/
  --color151: #353a47;
  --color152: #261c1b;
  --color153: #261c1b;
  --color154: #261c1b;
  --color155: #261c1b;
  --color156: orange;
  /*Cube 27---------------------------*/
  --color157: #353a47;
  --color158: #261c1b;
  --color159: #885a5a;
  --color160: #261c1b;
  --color161: #261c1b;
  --color162: orange;
}
/* background: rgba(57, 224, 66, 0.966); */

.initialFloor {
  height: calc(var(--plain-height, 25) * 1vmin);
  width: calc(var(--plain-width, 25) * 1vmin);
  transform-style: preserve-3d;
  transform: rotateX(calc(var(--x-rotation, -25) * 1deg))
    rotateY(calc(var(--y-rotation, -25) * 1deg)) rotateX(90deg);
}
/* background: rgba(162, 25, 230, 0.25); */
.rotatedFloor90Y {
  height: calc(var(--plain-height, 25) * 1vmin);
  width: calc(var(--plain-width, 25) * 1vmin);
  transform-style: preserve-3d;
  transform: rotateX(calc(var(--x-rotation, -25) * 1deg))
    rotateY(calc(var(--y-rotation, -25) * 1deg)) rotateX(90deg) rotateY(90deg);
}
/* background: rgba(162, 25, 230, 0.25); */
.rotatedFloor90X {
  height: calc(var(--plain-height, 25) * 1vmin);
  width: calc(var(--plain-width, 25) * 1vmin);
  transform-style: preserve-3d;
  transform: rotateX(calc(var(--x-rotation, -25) * 1deg))
    rotateY(calc(var(--y-rotation, -25) * 1deg));
}

.topHorizontalPlane {
  --width: 36;
  --height: calc(var(--horizontalCentroid) * 2);
  --depth: 36;
  --cubeHeight: 36;
  text-align: center;
  vertical-align: middle;
  height: calc(var(--depth) * 1vmin);
  width: calc(var(--width) * 1vmin);
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  position: absolute;
  transform: translate(-50%, -50%)
    translateZ(calc(var(--horizontalCentroid) * 1 / 3 * 1vmin));
}
/* background: rgba(236, 205, 205, 0.3); */
/* translateZ(calc(var(--horizontalCentroid) * 1vmin)); */
.middleHorizontalPlane {
  --width: 36;
  --height: calc(var(--horizontalCentroid) * 2 / 3 * 1vmin);
  --depth: 36;
  --cubeHeight: 36;
  text-align: center;
  vertical-align: middle;
  height: calc(var(--depth) * 1vmin);
  width: calc(var(--width) * 1vmin);
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  position: absolute;

  transform: translate(-50%, -50%);
}

.bottomHorizontalPlane {
  --width: 36;
  --height: calc(var(--horizontalCentroid) * -1 / 3 * 1vmin);
  --depth: 36;
  --cubeHeight: 36;
  text-align: center;
  vertical-align: middle;
  height: calc(var(--depth) * 1vmin);
  width: calc(var(--width) * 1vmin);
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  position: absolute;
  transform: translate(-50%, -50%)
    translateZ(calc(var(--horizontalCentroid) * -1 / 3 * 1vmin));
}

.topHorizontalPlane > div {
  /* display: none; */
  height: calc(var(--cubeHeight) / 3 * 1vmin);
  width: calc(var(--width) / 3 * 1vmin);
  justify-content: center;
  align-items: center;
  position: absolute;
  background: rgba(18, 195, 240, 0.1);
}

.middleHorizontalPlane > div {
  justify-content: center;
  height: calc(var(--cubeHeight) / 3 * 1vmin);
  width: calc(var(--width) / 3 * 1vmin);
  align-items: center;
  position: absolute;
  background: rgba(18, 195, 240, 0.1);
}

.bottomHorizontalPlane > div {
  justify-content: center;
  height: calc(var(--cubeHeight) / 3 * 1vmin);
  width: calc(var(--width) / 3 * 1vmin);
  align-items: center;
  position: absolute;
  background: rgba(18, 195, 240, 0.1);
}

.topHorizontalPlane > div > p {
  display: none;
}
.middleHorizontalPlane > div > p {
  display: none;
}

.bottomHorizontalPlane > div > p {
  display: none;
}

/*Position 1 cube horizontal-----------------------------------------------------------*/

.topHorizontalPlane > div:nth-child(n + 1):nth-child(-n + 6) {
}

.topHorizontalPlane > div:nth-of-type(1) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) / 3 * 1vmin));
  background: var(--color1);
}

.topHorizontalPlane > div:nth-of-type(2) {
  transform: translate(0%, -50%) rotateX(-90deg);
  background: var(--color2);
}

.topHorizontalPlane > div:nth-of-type(3) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--width) * 1 / 3 * 1vmin));
  background: var(--color3);
}

.topHorizontalPlane > div:nth-of-type(4) {
  transform: translate(-50%, 0) rotateY(90deg);
  background: var(--color4);
}

.topHorizontalPlane > div:nth-of-type(5) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * 1vmin));
  background: var(--color5);
}

.topHorizontalPlane > div:nth-of-type(6) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * -1vmin));
  background: var(--color6);
}

/*Position 2 cube ----------------------------------------------------------------------------*/
.topHorizontalPlane > div:nth-child(n + 7):nth-child(-n + 12) {
}

.topHorizontalPlane > div:nth-of-type(7) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) / 3 * 1vmin))
    translateX(calc(var(--width) * 1 / 3 * 1vmin));
  background: var(--color7);
}

.topHorizontalPlane > div:nth-of-type(8) {
  background: var(--color8);
  transform: translate(0%, -50%) rotateX(-90deg)
    translateX(calc(var(--width) * 1 / 3 * 1vmin));
}

.topHorizontalPlane > div:nth-of-type(9) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--width) * 2 / 3 * 1vmin));
  background: var(--color9);
}

.topHorizontalPlane > div:nth-of-type(10) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--width) * 1 / 3 * 1vmin));
  background: var(--color10);
}

.topHorizontalPlane > div:nth-of-type(11) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * 1vmin))
    translateX(calc(var(--width) * 1 / 3 * 1vmin));
  background: var(--color11);
}

.topHorizontalPlane > div:nth-of-type(12) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * -1vmin))
    translateX(calc(var(--width) * 1 / 3 * 1vmin));
  background: var(--color12);
}

/*Position 3 cube ----------------------------------------------------------------------------*/
.topHorizontalPlane > div:nth-child(n + 13):nth-child(-n + 18) {
}

.topHorizontalPlane > div:nth-of-type(13) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateX(calc(var(--width) * 2 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color13);
}

.topHorizontalPlane > div:nth-of-type(14) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateX(calc(var(--width) * 2 / 3 * 1vmin));
  background: var(--color14);
}

.topHorizontalPlane > div:nth-of-type(15) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--width) * 1vmin));
  background: var(--color15);
}

.topHorizontalPlane > div:nth-of-type(16) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--width) * 1vmin));
  background: var(--color16);
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--width) * 2 / 3 * 1vmin));
}

.topHorizontalPlane > div:nth-of-type(17) {
  transform: translateX(calc(var(--width) * 2 / 3 * 1vmin))
    translateZ(calc(var(--cubeHeight) / 6 * 1vmin));
  background: var(--color17);
}

.topHorizontalPlane > div:nth-of-type(18) {
  transform: translateX(calc(var(--width) * 2 / 3 * 1vmin))
    translateZ(calc(var(--cubeHeight) / 6 * -1vmin));
  background: var(--color18);
}

/*Position 4 cube-----------------------------------------------------------------------*/
.topHorizontalPlane > div:nth-child(n + 19):nth-child(-n + 24) {
}

.topHorizontalPlane > div:nth-of-type(19) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color19);
}

.topHorizontalPlane > div:nth-of-type(20) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color20);
}
.topHorizontalPlane > div:nth-of-type(21) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--cubeHeight) * 1 / 3 * 1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color21);
}

.topHorizontalPlane > div:nth-of-type(22) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateY(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color22);
}

.topHorizontalPlane > div:nth-of-type(23) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * 1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color23);
}

.topHorizontalPlane > div:nth-of-type(24) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * -1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color24);
}

/*Position 5 cube-----------------------------------------------------------------------*/
.topHorizontalPlane > div:nth-child(n + 25):nth-child(-n + 30) {
}

.topHorizontalPlane > div:nth-of-type(25) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 1 / 3 * 1vmin))
    translateX(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color25);
}

.topHorizontalPlane > div:nth-of-type(26) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin))
    translateX(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color26);
}
.topHorizontalPlane > div:nth-of-type(27) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--cubeHeight) * 1 / 3 * 1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color27);
}

.topHorizontalPlane > div:nth-of-type(28) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateY(calc(var(--depth) * 1 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color28);
}

.topHorizontalPlane > div:nth-of-type(29) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * 1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin))
    translateX(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color29);
}

.topHorizontalPlane > div:nth-of-type(30) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * -1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin))
    translateX(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color30);
}

/*Position 6 cube-----------------------------------------------------------------------*/
.topHorizontalPlane > div:nth-child(n + 31):nth-child(-n + 36) {
}

.topHorizontalPlane > div:nth-of-type(31) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 1 / 3 * 1vmin))
    translateX(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color31);
}

.topHorizontalPlane > div:nth-of-type(32) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin))
    translateX(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color32);
}
.topHorizontalPlane > div:nth-of-type(33) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--cubeHeight) * 1 / 3 * 1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color33);
}

.topHorizontalPlane > div:nth-of-type(34) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateY(calc(var(--depth) * 1 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color34);
}

.topHorizontalPlane > div:nth-of-type(35) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * 1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin))
    translateX(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color35);
}

.topHorizontalPlane > div:nth-of-type(36) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * -1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin))
    translateX(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color36);
}

/*Position 7 cube-----------------------------------------------------------------------*/
.topHorizontalPlane > div:nth-child(n + 37):nth-child(-n + 42) {
}

.topHorizontalPlane > div:nth-of-type(37) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 1vmin));
  background: var(--color37);
}

.topHorizontalPlane > div:nth-of-type(38) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color38);
}
.topHorizontalPlane > div:nth-of-type(39) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--cubeHeight) * 1 / 3 * 1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color39);
}

.topHorizontalPlane > div:nth-of-type(40) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateY(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color40);
}

.topHorizontalPlane > div:nth-of-type(41) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * 1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color41);
}

.topHorizontalPlane > div:nth-of-type(42) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * -1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color42);
}

/*cube 8---------------------------------------------------------------------------*/
.topHorizontalPlane > div:nth-child(n + 43):nth-child(-n + 48) {
}

.topHorizontalPlane > div:nth-of-type(43) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 3 / 3 * 1vmin))
    translateX(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color43);
}

.topHorizontalPlane > div:nth-of-type(44) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin))
    translateX(calc(var(--depth) * 1 / 3 * 1vmin));

  background: var(--color44);
}
.topHorizontalPlane > div:nth-of-type(45) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--cubeHeight) * 1 / 3 * 1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color45);
}

.topHorizontalPlane > div:nth-of-type(46) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateY(calc(var(--depth) * 2 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color46);
}

.topHorizontalPlane > div:nth-of-type(47) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * 1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin))
    translateX(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color47);
}

.topHorizontalPlane > div:nth-of-type(48) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * -1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin))
    translateX(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color48);
}

/*cube 9---------------------------------------------------------------------------*/
.topHorizontalPlane > div:nth-child(n + 49):nth-child(-n + 54) {
}

.topHorizontalPlane > div:nth-of-type(49) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 3 / 3 * 1vmin))
    translateX(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color49);
}

.topHorizontalPlane > div:nth-of-type(50) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin))
    translateX(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color50);
}
.topHorizontalPlane > div:nth-of-type(51) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--cubeHeight) * 1 / 3 * 1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color51);
}

.topHorizontalPlane > div:nth-of-type(52) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateY(calc(var(--depth) * 2 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color52);
}

.topHorizontalPlane > div:nth-of-type(53) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * 1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin))
    translateX(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color53);
}

.topHorizontalPlane > div:nth-of-type(54) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * -1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin))
    translateX(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color54);
}

/*Middle horizontal plane----------------------------------*/

.middleHorizontalPlane > div:nth-child(n + 1):nth-child(-n + 6) {
}

.middleHorizontalPlane > div:nth-of-type(1) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) / 3 * 1vmin));
  background: var(--color55);
}

.middleHorizontalPlane > div:nth-of-type(2) {
  transform: translate(0%, -50%) rotateX(-90deg);
  background: var(--color56);
}

.middleHorizontalPlane > div:nth-of-type(3) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--width) * 1 / 3 * 1vmin));
  background: var(--color57);
}

.middleHorizontalPlane > div:nth-of-type(4) {
  transform: translate(-50%, 0) rotateY(90deg);
  background: var(--color58);
}

.middleHorizontalPlane > div:nth-of-type(5) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * 1vmin));
  background: var(--color59);
}

.middleHorizontalPlane > div:nth-of-type(6) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * -1vmin));
  background: var(--color60);
}

/*Position 2 cube ----------------------------------------------------------------------------*/
.middleHorizontalPlane > div:nth-child(n + 7):nth-child(-n + 12) {
}

.middleHorizontalPlane > div:nth-of-type(7) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) / 3 * 1vmin))
    translateX(calc(var(--width) * 1 / 3 * 1vmin));
  background: var(--color61);
}

.middleHorizontalPlane > div:nth-of-type(8) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateX(calc(var(--width) * 1 / 3 * 1vmin));
  background: var(--color62);
}

.middleHorizontalPlane > div:nth-of-type(9) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--width) * 2 / 3 * 1vmin));
  background: var(--color63);
}

.middleHorizontalPlane > div:nth-of-type(10) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--width) * 1 / 3 * 1vmin));
  background: var(--color64);
}

.middleHorizontalPlane > div:nth-of-type(11) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * 1vmin))
    translateX(calc(var(--width) * 1 / 3 * 1vmin));
  background: var(--color65);
}

.middleHorizontalPlane > div:nth-of-type(12) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * -1vmin))
    translateX(calc(var(--width) * 1 / 3 * 1vmin));
  background: var(--color66);
}

/*Position 3 cube ----------------------------------------------------------------------------*/
.middleHorizontalPlane > div:nth-child(n + 13):nth-child(-n + 18) {
}

.middleHorizontalPlane > div:nth-of-type(13) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateX(calc(var(--width) * 2 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color67);
}

.middleHorizontalPlane > div:nth-of-type(14) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateX(calc(var(--width) * 2 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 1 / 3 * 1vmin));
  transform: translate(0%, -50%) rotateX(-90deg)
    translateX(calc(var(--width) * 2 / 3 * 1vmin));
  background: var(--color68);
}

.middleHorizontalPlane > div:nth-of-type(15) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--width) * 1vmin));
  background: var(--color69);
}

.middleHorizontalPlane > div:nth-of-type(16) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--width) * 2 / 3 * 1vmin));
  background: var(--color70);
}

.middleHorizontalPlane > div:nth-of-type(17) {
  transform: translateX(calc(var(--width) * 2 / 3 * 1vmin))
    translateZ(calc(var(--cubeHeight) / 6 * 1vmin));
  background: var(--color71);
}

.middleHorizontalPlane > div:nth-of-type(18) {
  transform: translateX(calc(var(--width) * 2 / 3 * 1vmin))
    translateZ(calc(var(--cubeHeight) / 6 * -1vmin));
  background: var(--color72);
}

/*Position 4 cube-----------------------------------------------------------------------*/
.middleHorizontalPlane > div:nth-child(n + 19):nth-child(-n + 24) {
}

.middleHorizontalPlane > div:nth-of-type(19) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color73);
}

.middleHorizontalPlane > div:nth-of-type(20) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color74);
}
.middleHorizontalPlane > div:nth-of-type(21) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--cubeHeight) * 1 / 3 * 1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color75);
}

.middleHorizontalPlane > div:nth-of-type(22) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateY(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color76);
}

.middleHorizontalPlane > div:nth-of-type(23) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * 1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color77);
}

.middleHorizontalPlane > div:nth-of-type(24) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * -1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color78);
}

/*Position 5 cube-----------------------------------------------------------------------*/
.middleHorizontalPlane > div:nth-child(n + 25):nth-child(-n + 30) {
}

.middleHorizontalPlane > div:nth-of-type(25) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin))
    translateX(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color79);
}

.middleHorizontalPlane > div:nth-of-type(26) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 1 / 3 * 1vmin))
    translateX(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color80);
}
.middleHorizontalPlane > div:nth-of-type(27) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--cubeHeight) * 1 / 3 * 1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color81);
}

.middleHorizontalPlane > div:nth-of-type(28) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateY(calc(var(--depth) * 1 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color82);
}

.middleHorizontalPlane > div:nth-of-type(29) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * 1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin))
    translateX(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color83);
}

.middleHorizontalPlane > div:nth-of-type(30) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * -1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin))
    translateX(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color84);
}

/*Position 6 cube-----------------------------------------------------------------------*/
.middleHorizontalPlane > div:nth-child(n + 31):nth-child(-n + 36) {
}

.middleHorizontalPlane > div:nth-of-type(31) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin))
    translateX(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color85);
}

.middleHorizontalPlane > div:nth-of-type(32) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 1 / 3 * 1vmin))
    translateX(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color86);
}
.middleHorizontalPlane > div:nth-of-type(33) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--cubeHeight) * 1 / 3 * 1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color87);
}

.middleHorizontalPlane > div:nth-of-type(34) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateY(calc(var(--depth) * 1 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color88);
}

.middleHorizontalPlane > div:nth-of-type(35) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * 1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin))
    translateX(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color89);
}

.middleHorizontalPlane > div:nth-of-type(36) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * -1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin))
    translateX(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color90);
}

/*Position 7 cube-----------------------------------------------------------------------*/
.middleHorizontalPlane > div:nth-child(n + 37):nth-child(-n + 42) {
}

.middleHorizontalPlane > div:nth-of-type(37) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 1vmin));
  background: var(--color91);
}

.middleHorizontalPlane > div:nth-of-type(38) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color92);
}
.middleHorizontalPlane > div:nth-of-type(39) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--cubeHeight) * 1 / 3 * 1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color93);
}

.middleHorizontalPlane > div:nth-of-type(40) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateY(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color94);
}

.middleHorizontalPlane > div:nth-of-type(41) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * 1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color95);
}

.middleHorizontalPlane > div:nth-of-type(42) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * -1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color96);
}

/*cube 8---------------------------------------------------------------------------*/
.middleHorizontalPlane > div:nth-child(n + 43):nth-child(-n + 48) {
}

.middleHorizontalPlane > div:nth-of-type(43) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 3 / 3 * 1vmin))
    translateX(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color97);
}

.middleHorizontalPlane > div:nth-of-type(44) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin))
    translateX(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color98);
}
.middleHorizontalPlane > div:nth-of-type(45) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--cubeHeight) * 1 / 3 * 1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color99);
}

.middleHorizontalPlane > div:nth-of-type(46) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateY(calc(var(--depth) * 2 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color100);
}

.middleHorizontalPlane > div:nth-of-type(47) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * 1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin))
    translateX(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color101);
}

.middleHorizontalPlane > div:nth-of-type(48) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * -1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin))
    translateX(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color102);
}

/*cube 9---------------------------------------------------------------------------*/
.middleHorizontalPlane > div:nth-child(n + 49):nth-child(-n + 54) {
}

.middleHorizontalPlane > div:nth-of-type(49) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 3 / 3 * 1vmin))
    translateX(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color103);
}

.middleHorizontalPlane > div:nth-of-type(50) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin))
    translateX(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color104);
}
.middleHorizontalPlane > div:nth-of-type(51) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--cubeHeight) * 1 / 3 * 1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color105);
}

.middleHorizontalPlane > div:nth-of-type(52) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateY(calc(var(--depth) * 2 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color106);
}

.middleHorizontalPlane > div:nth-of-type(53) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * 1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin))
    translateX(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color107);
}

.middleHorizontalPlane > div:nth-of-type(54) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * -1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin))
    translateX(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color108);
}

/*Bottom horizontal plane----------------------------------*/

.bottomHorizontalPlane > div:nth-child(n + 1):nth-child(-n + 6) {
}

.bottomHorizontalPlane > div:nth-of-type(1) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) / 3 * 1vmin));
  background: var(--color109);
}

.bottomHorizontalPlane > div:nth-of-type(2) {
  transform: translate(0%, -50%) rotateX(-90deg);
  background: var(--color110);
}

.bottomHorizontalPlane > div:nth-of-type(3) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--width) * 1 / 3 * 1vmin));
  background: var(--color111);
}

.bottomHorizontalPlane > div:nth-of-type(4) {
  transform: translate(-50%, 0) rotateY(90deg);
  background: var(--color112);
}

.bottomHorizontalPlane > div:nth-of-type(5) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * 1vmin));
  background: var(--color113);
}

.bottomHorizontalPlane > div:nth-of-type(6) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * -1vmin));
  background: var(--color114);
}

/*Position 2 cube ----------------------------------------------------------------------------*/
.bottomHorizontalPlane > div:nth-child(n + 7):nth-child(-n + 12) {
}

.bottomHorizontalPlane > div:nth-of-type(7) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) / 3 * 1vmin))
    translateX(calc(var(--width) * 1 / 3 * 1vmin));
  background: var(--color115);
}

.bottomHorizontalPlane > div:nth-of-type(8) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateX(calc(var(--width) * 1 / 3 * 1vmin));
  background: var(--color116);
}

.bottomHorizontalPlane > div:nth-of-type(9) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--width) * 2 / 3 * 1vmin));
  background: var(--color117);
}

.bottomHorizontalPlane > div:nth-of-type(10) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--width) * 1 / 3 * 1vmin));
  background: var(--color118);
}

.bottomHorizontalPlane > div:nth-of-type(11) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * 1vmin))
    translateX(calc(var(--width) * 1 / 3 * 1vmin));
  background: var(--color119);
}

.bottomHorizontalPlane > div:nth-of-type(12) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * -1vmin))
    translateX(calc(var(--width) * 1 / 3 * 1vmin));
  background: var(--color120);
}

/*Position 3 cube ----------------------------------------------------------------------------*/
.bottomHorizontalPlane > div:nth-child(n + 13):nth-child(-n + 18) {
}

.bottomHorizontalPlane > div:nth-of-type(13) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateX(calc(var(--width) * 2 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color121);
}

.bottomHorizontalPlane > div:nth-of-type(14) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateX(calc(var(--width) * 2 / 3 * 1vmin));
  background: var(--color122);
}

.bottomHorizontalPlane > div:nth-of-type(15) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--width) * 1vmin));
  background: var(--color123);
}

.bottomHorizontalPlane > div:nth-of-type(16) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--width) * 2 / 3 * 1vmin));
  background: var(--color124);
}

.bottomHorizontalPlane > div:nth-of-type(17) {
  transform: translateX(calc(var(--width) * 2 / 3 * 1vmin))
    translateZ(calc(var(--cubeHeight) / 6 * 1vmin));
  background: var(--color125);
}

.bottomHorizontalPlane > div:nth-of-type(18) {
  transform: translateX(calc(var(--width) * 2 / 3 * 1vmin))
    translateZ(calc(var(--cubeHeight) / 6 * -1vmin));
  background: var(--color126);
}

/*Position 4 cube-----------------------------------------------------------------------*/
.bottomHorizontalPlane > div:nth-child(n + 19):nth-child(-n + 24) {
}

.bottomHorizontalPlane > div:nth-of-type(19) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color127);
}

.bottomHorizontalPlane > div:nth-of-type(20) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color128);
}
.bottomHorizontalPlane > div:nth-of-type(21) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--cubeHeight) * 1 / 3 * 1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color129);
}

.bottomHorizontalPlane > div:nth-of-type(22) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateY(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color130);
}

.bottomHorizontalPlane > div:nth-of-type(23) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * 1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color131);
}

.bottomHorizontalPlane > div:nth-of-type(24) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * -1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color132);
}

/*Position 5 cube-----------------------------------------------------------------------*/
.bottomHorizontalPlane > div:nth-child(n + 25):nth-child(-n + 30) {
}

.bottomHorizontalPlane > div:nth-of-type(25) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin))
    translateX(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color133);
}

.bottomHorizontalPlane > div:nth-of-type(26) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 1 / 3 * 1vmin))
    translateX(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color134);
}
.bottomHorizontalPlane > div:nth-of-type(27) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--cubeHeight) * 1 / 3 * 1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color135);
}

.bottomHorizontalPlane > div:nth-of-type(28) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateY(calc(var(--depth) * 1 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color136);
}

.bottomHorizontalPlane > div:nth-of-type(29) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * 1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin))
    translateX(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color137);
}

.bottomHorizontalPlane > div:nth-of-type(30) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * -1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin))
    translateX(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color138);
}

/*Position 6 cube-----------------------------------------------------------------------*/
.bottomHorizontalPlane > div:nth-child(n + 31):nth-child(-n + 36) {
}

.bottomHorizontalPlane > div:nth-of-type(31) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin))
    translateX(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color139);
}

.bottomHorizontalPlane > div:nth-of-type(32) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 1 / 3 * 1vmin))
    translateX(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color140);
}
.bottomHorizontalPlane > div:nth-of-type(33) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--cubeHeight) * 1 / 3 * 1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color141);
}

.bottomHorizontalPlane > div:nth-of-type(34) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateY(calc(var(--depth) * 1 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color142);
}

.bottomHorizontalPlane > div:nth-of-type(35) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * 1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin))
    translateX(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color143);
}

.bottomHorizontalPlane > div:nth-of-type(36) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * -1vmin))
    translateY(calc(var(--depth) * 1 / 3 * 1vmin))
    translateX(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color144);
}

/*Position 7 cube-----------------------------------------------------------------------*/
.bottomHorizontalPlane > div:nth-child(n + 37):nth-child(-n + 42) {
}

.bottomHorizontalPlane > div:nth-of-type(37) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 1vmin));
  background: var(--color145);
}

.bottomHorizontalPlane > div:nth-of-type(38) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color146);
}
.bottomHorizontalPlane > div:nth-of-type(39) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--cubeHeight) * 1 / 3 * 1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color147);
}

.bottomHorizontalPlane > div:nth-of-type(40) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateY(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color148);
}

.bottomHorizontalPlane > div:nth-of-type(41) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * 1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color149);
}

.bottomHorizontalPlane > div:nth-of-type(42) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * -1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color150);
}

/*cube 8---------------------------------------------------------------------------*/
.bottomHorizontalPlane > div:nth-child(n + 43):nth-child(-n + 48) {
}

.bottomHorizontalPlane > div:nth-of-type(43) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 3 / 3 * 1vmin))
    translateX(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color151);
}

.bottomHorizontalPlane > div:nth-of-type(44) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin))
    translateX(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color152);
}
.bottomHorizontalPlane > div:nth-of-type(45) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--cubeHeight) * 1 / 3 * 1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color153);
}

.bottomHorizontalPlane > div:nth-of-type(46) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateY(calc(var(--depth) * 2 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color154);
}

.bottomHorizontalPlane > div:nth-of-type(47) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * 1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin))
    translateX(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color155);
}

.bottomHorizontalPlane > div:nth-of-type(48) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * -1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin))
    translateX(calc(var(--depth) * 1 / 3 * 1vmin));
  background: var(--color156);
}

/*cube 9---------------------------------------------------------------------------*/
.bottomHorizontalPlane > div:nth-child(n + 49):nth-child(-n + 54) {
}

.bottomHorizontalPlane > div:nth-of-type(49) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 3 / 3 * 1vmin))
    translateX(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color157);
}

.bottomHorizontalPlane > div:nth-of-type(50) {
  transform: translate(0%, -50%) rotateX(-90deg)
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin))
    translateX(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color158);
}
.bottomHorizontalPlane > div:nth-of-type(51) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateZ(calc(var(--cubeHeight) * 1 / 3 * 1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color159);
}

.bottomHorizontalPlane > div:nth-of-type(52) {
  transform: translate(-50%, 0) rotateY(90deg)
    translateY(calc(var(--depth) * 2 / 3 * 1vmin))
    translateZ(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color160);
}

.bottomHorizontalPlane > div:nth-of-type(53) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * 1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin))
    translateX(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color161);
}

.bottomHorizontalPlane > div:nth-of-type(54) {
  transform: translateZ(calc(var(--cubeHeight) / 6 * -1vmin))
    translateY(calc(var(--depth) * 2 / 3 * 1vmin))
    translateX(calc(var(--depth) * 2 / 3 * 1vmin));
  background: var(--color162);
}

.protoShiftTopC {
  animation-name: protoMoveTopC;
  animation-duration: var(--animation-speed);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes protoMoveTopC {
  0% {
    transform: translate(-50%, -50%)
      translateZ(calc(var(--horizontalCentroid) * 1 / 3 * 1vmin));
  }

  100% {
    transform: translate(-50%, -50%)
      translateZ(calc((var(--horizontalCentroid) * 1 / 3 * 1vmin)))
      rotateZ(90deg);
  }
}

.protoShiftTopCC {
  animation-name: protoMoveTopCC;
  animation-duration: var(--animation-speed);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes protoMoveTopCC {
  0% {
    transform: translate(-50%, -50%)
      translateZ(calc(var(--horizontalCentroid) * 1 / 3 * 1vmin));
  }

  100% {
    transform: translate(-50%, -50%)
      translateZ(calc((var(--horizontalCentroid) * 1 / 3 * 1vmin)))
      rotateZ(-90deg);
  }
}

.protoShiftMiddleC {
  animation-name: protoMoveMiddleC;
  animation-duration: var(--animation-speed);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes protoMoveMiddleC {
  0% {
    transform: translate(-50%, -50%);
    /* translateZ(calc(var(--horizontalCentroid) * 2 / 3 * 1vmin)); */
  }

  100% {
    transform: translate(-50%, -50%)
      /* translateZ(calc(var(--horizontalCentroid) * 2 / 3 * 1vmin)) */
      rotateZ(90deg);
  }
}

.protoShiftMiddleCC {
  animation-name: protoMoveMiddleCC;
  animation-duration: var(--animation-speed);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes protoMoveMiddleCC {
  0% {
    transform: translate(-50%, -50%);
    /* translateZ(calc(var(--horizontalCentroid) * 2 / 3 * 1vmin)); */
  }

  100% {
    transform: translate(-50%, -50%)
      /* translateZ(calc(var(--horizontalCentroid) * 2 / 3 * 1vmin)) */
      rotateZ(-90deg);
  }
}

.protoShiftBottomC {
  animation-name: protoMoveBottomC;
  animation-duration: var(--animation-speed);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes protoMoveBottomC {
  0% {
    transform: translate(-50%, -50%)
      translateZ(calc(var(--horizontalCentroid) * -1 / 3 * 1vmin));
  }

  100% {
    transform: translate(-50%, -50%)
      translateZ(calc(var(--horizontalCentroid) * -1 / 3 * 1vmin))
      rotateZ(90deg);
  }
}

.protoShiftBottomCC {
  animation-name: protoMoveBottomCC;
  animation-duration: var(--animation-speed);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes protoMoveBottomCC {
  0% {
    transform: translate(-50%, -50%)
      translateZ(calc(var(--horizontalCentroid) * -1 / 3 * 1vmin));
  }

  100% {
    transform: translate(-50%, -50%)
      translateZ(calc(var(--horizontalCentroid) * -1 / 3 * 1vmin))
      rotateZ(-90deg);
  }
}
